<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeAI.Splash">
        <activity
            android:exported="true"
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Disable Firebase Analytics by default -->
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />

        <!-- Disable Automatic Firebase Analytics screen reporting
             https://firebase.google.com/docs/analytics/screenviews#disable_screenview_tracking -->
        <meta-data android:name="google_analytics_automatic_screen_reporting_enabled" android:value="false" />

        <!-- Disable Crashlytics by default
             https://firebase.google.com/docs/crashlytics/customize-crash-reports?platform=android#enable-reporting -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2728188054904091~6210917371"/>

    </application>

</manifest>